html, body, #root {
  height: 100%;
  margin: 25px;
  padding: 5px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 150vh;
}

.main-content {
  flex: 1;
}

footer.footer-container {
  margin-top: auto;
}
